{% extends 'base.html' %}
{% block body %}
<div class="about-blog">
    <div class="container cc-center">
       <div class="w-row">
          <div class="w-col w-col-9 w-col-small-small-stack">
             <div class="text-container">
                <div class="section-title-big" style="padding-top:100px;">404 - recipe not found</div>
                <p>We hope you won't be left hungry! Continue feasting you eyes<a href="{% url 'homepage' %}">here</a></p>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock body %}